@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

/** Background and Content **/

body {
    background-image: url("./img/green.png");
    background-size: 100px 100px;
    -webkit-animation: page-bg 5s linear infinite;
}

header {
    background-color: rgb(0,0,0,0.1);
    border: 0.1em solid black;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

#content {
    z-index: 20;
    position: absolute;
    display: block;
    left: 50%;
    top: 35%;
    width: 50%;
    margin: -60px 0 0 -25%;
    background-color: rgb(0, 0, 0, 0.1);
    border: 2px solid black;
    -webkit-animation: fadein-content 2s;
}

/** Things inside Header **/

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header li {
    float: left;
}

.header-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5em;
    color: #d4ff4f;
    text-shadow: 2px 2px black;
    font-weight: bold;
}

.header-arrow {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5em;
    text-shadow: 2px 2px rgb(0,0,0,0.3);
    padding-left: 0.3em;
}

.header-page {
    font-family: 'Press Start 2P', cursive;
    font-size: 0.9em;
    padding: 0.35em;
    margin-left: 0.1em;
    margin-right: 0.1em;
}

header a:link {
    color: white;
    text-decoration: none;
    text-shadow: 0px 2px black;
}

header a:hover {
    -webkit-animation: page-hover 2s ease infinite;
    text-decoration: underline;
}

/** Things inside Content - index.html **/

#title {
    color: #d4ff4f;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 2.5em;
    text-shadow: 3px 2px black;
}

#socials {
    text-align: center;
    padding: 1em;
}

.text {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 0.95em;
    text-shadow: 0px 1px black;
    line-height: 1.3em;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
}


/** Social Button **/

a.social {
    padding: 10px;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.2em;
    background-color: rgb(0, 0, 0, 0.15);
    border: 2px solid;
    color: #fff;
}

a.social:link {
    color: white;
    text-shadow: 0px 2px black;
    text-decoration: none;
}

a.social:hover {
    text-decoration: underline;
    background-color: rgb(0, 0, 0, 0.35);
    border-color: white;
    text-shadow: 0px 2px black;
    -webkit-animation: rainbow 2s linear infinite;
}

/** Source Code Button **/

#source-code {
    z-index: 20;
    position: absolute;
    display: block;
    left: 50%;
    bottom: 0%;
    width: 50%;
    margin: -60px 0 0 -25%;
}

p.code {
    text-align: center;
}

a.code {
    font-family: 'Press Start 2P', cursive;
    font-size: 0.75em;
    text-shadow: 0px 2px black;
    color: white;
}

a.code:link {
    color: white;
    text-shadow: 0px 2px black;
    text-decoration: none;
}

a.code:hover {
    text-decoration: underline;
    text-shadow: 0px 2px black;
}

/** Animations **/

@-webkit-keyframes fadein-content {
    from {
        opacity: 0;
        color: black;
        border-color: rgb(0, 0, 0, 0);
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes page-hover {
    0% {
        font-size: 1em;
    }
    50% {
        font-size: 0.95em;
        color: #d4ff4f;
    }
    100% {
        font-size: 1em;
    }
}

@-webkit-keyframes page-bg {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -100px -100px;
    }
}

@-webkit-keyframes rainbow {
    0% {
        color: #FF0000;
    }

    20% {
        color: #FFFF00;
    }

    35% {
        color: #00FF00;
    }

    50% {
        color: #00FFFF;
    }

    75% {
        color: #0000FF;
    }

    90% {
        color: #FF00FF;
    }

    100% {
        color: #FF0000;
    }
}
